.my-list {
    background-color: #f7f7f7;
    border-bottom: none;
}
@media screen and (max-width: 600px) {
    .customCard {
        width: 300px  !important;
    }
}
label {
    padding: 10px;
}

@media screen and (max-width: 600px) {
    label {
        padding: 0px  !important;
    }
}

.greetingBox {
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

.greetingText {
    font-weight: bold; /* Texto em negrito */
    font-size: 18px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}